<script type="text/ejs" id="projectsColumnHeaderTpl">
    <div>
        <h3>
            <div class="columnMenu jsColumnMenuButton popupOpener feed-post-menu-but"></div>
            <span class='jsProjectsColumnTitle' title='<%= name %>'><%= name %></span>
            <span class="miniblock subtasks jsProjectsCount"><b></b><%== projectList.length %></span>
        </h3>
    </div>
</script>