<script type='text/ejs' id='taskDetailEditBlockExtendedPlanning'>
    <div class="block additional">
        <div class="header">
            <div class="inner">
                <i></i>
                <h3><i class='hiddenCopyableText'><br></i><?= $this->t('ADDITIONALLY') ?><a href="javascript:void(0)" class="hide" data-hide-text="<?= $this->t('HIDE'); ?>"></a></h3>
            </div>
        </div>
        <div class="content">
            <dl class="propList">
                <dt title="<?= $this->t('START_FROM_TITLE') ?>"><?= $this->t('START_FROM') ?>: </dt>
                <dd class="workDateRange">
                    <div class="dateSelectorOpener"></div>
                    <span title="<?= $this->t('START_FROM_TO_TITLE') ?>"><?= $this->t('START_FROM_TO') ?></span>
                    <div class="dateSelectorOpener"></div>
                </dd>
            </dl>
            <dl class="propList">
                <dt title="<?= $this->t('TASK_TAGS_TIP') ?>"><?= $this->t('TASK_TAGS') ?>: </dt>
                <dd class="tags jsTagsEditor"></dd>
            </dl>
            <dl class="propList jsResponsible"></dl>
            <dl class="propList jsAccompliceList"></dl>
            <dl class="propList jsWatcherList"></dl>
        </div>
    </div>
</script>