<script type="text/ejs" id="supportBudgetBlockView">
    <span class="budget-wrapper">
        <span class="label js-balance"><?= $this->t('REPORT_BALANCE'); ?></span><br/>
        <span class="value"><%= this.balance %> <%= String._('RUB') %></span>
    </span>
    <span class="budget-wrapper">
        <span class="label"><?= $this->t('BUDGET_LABEL'); ?></span><br/>
        <span class="value view<% if (this.canEdit) { %> dotted js-budget<% } %>"><%= this.budget %> <%= String._('RUB') %></span>
    </span>
    <div class="clear"></div>
</script>
