<script type="text/ejs" id="tplConfirmController">
    <div class="invisible"><input type="text"></div>
    <div class="question" <% if (!this.showOk && !this.showCancel) { %>style="padding-bottom: 0;"<% } %>>
        <div class="body<% if (addHtmlPadding) { %> padded<% } %>"></div>
        <% if (this.showOk || this.showCancel) { %>
        <div class="buttons">
            <% if (this.showOk) { %>
                <div class="thin-green-button jsOk"><?= $this->t('OK'); ?></div>
            <% } %>
            <% if (this.showCancel) { %>
                <a class="cancelLink jsCancel"><?= $this->t('CANCEL'); ?></a>
            <% } %>
        </div>
        <% } %>
    </div>
</script>
