<script type='text/ejs' id='TaskDetailsPanel'>
    <div class="body">
        <div class="feed-post-menu-but menuIcon jsMenuIcon popupOpener taskMenu"></div>
        <div class="taskDetails">
            <div class="anchors"></div>
            <div class="panelDetailsBody"><?/* Here added rendered ejs templates */?></div>
        </div>
    </div>
</script>