<script type="text/ejs" id="taskDetailEditBudgetBlock">
    <div class="block budgetBlock jsBudgetBlock">
        <div class="header"><div class="inner"><i></i><h3><?= $this->t('BUDGETS'); ?><a href="javascript:void(0)" class="hide" data-hide-text="<?= $this->t('HIDE'); ?>"></a></h3></div></div>
        <div class="content jsBudgetBlockContent">
            <dl class="propList jsPlannedPicker" data-field="estimateCustomFrom">
                <dt><?= $this->t('CUSTOMER_ESTIMATE_FROM'); ?>:</dt>
                <dd class="value"></dd>
            </dl>
            <dl class="propList jsPlannedPicker" data-field="estimateCustomTo">
                <dt><?= $this->t('CUSTOMER_ESTIMATE_TO'); ?>:</dt>
                <dd class="value"></dd>
            </dl>
            <dl class="propList jsPlannedPicker" data-field="elapsedCustom">
                <dt><?= $this->t('CUSTOMER_ELAPSED'); ?>:</dt>
                <dd class="value"></dd>
            </dl>
            <dl class="propList jsSimpleInput" data-field="priceRate">
                <dt><?= $this->t('PRICE_RATE_LABEL'); ?>:</dt>
                <dd class="value"></dd>
            </dl>
            <dl class="propList jsSimpleInput" data-field="priceHighRate">
                <dt><?= $this->t('PRICE_RATE_HIGH_LABEL'); ?>:</dt>
                <dd class="value"></dd>
            </dl>
        </div>
    </div>
</script>
