<script type='text/ejs' id='taskDetailEditBlockButtons'>
    <div class="block buttons">
        <div class="content">
            <div class="black disabled">
                <div class="thin-green-button jsCloseButton"><?= $this->t('I_FINISHED_EDITING') ?></div>
            </div>
        </div>
    </div>
</script>