<script type='text/ejs' id='taskDetailEditBlockSubtasks'>
    <div class="block subtasks">
        <div class="header"><div class="inner"><i></i><h3><?= $this->t('SUBTASKS') ?><a href="javascript:void(0)" class="hide" data-hide-text="<?= $this->t('HIDE'); ?>"></a></h3></div></div>
        <div class="content jsSubtaskGrid">
            <div class="feed-post-menu-but menuIcon jsSubtaskMenuIcon popupOpener taskMenu"></div>
            <div class="grid" id="sprintTaskList"></div>
        </div>
    </div>
</script>

<?= $this->partial("ejs/planning/grid-task.ejs"); ?>