<script type="text/ejs" id="tplAlertController">
    <div class="question">
        <div class="body<% if (addHtmlPadding) { %> padded<% } %>"></div>
        <div class="buttons">
            <div class="thin-green-button jsOk"><?= $this->t('OK'); ?></div>
        </div>
    </div>
</script>
