<script type='text/ejs' id='sprintProgressBlock'>
    <div class="stat-block jsStatBlock">
        <div class="daysLeftBlock">
            <span class="num"></span>
            <u><b class="jsProjectCardsTodo" style=""></b><i class="jsProjectCardsInProgress" style=""></i></u>
        </div>
        <div class="burndown jsBurndownChart"></div>
    </div>
</script>
