<script type="text/ejs" id="tplProblemEdit">
    <div class="jsFuckupEdit">
        <div class="error jsError" style="display:none">
            <i></i><span class="jsErrorMessage"></span>
        </div>
        <div class="applyEditorHere">
            <textarea></textarea>
        </div>
        <div class="thin-gray-button jsFuckupSave"><?= $this->t('OK') ?></div>
        <a class="cancelLink jsFuckupCancel"><?= $this->t('CANCEL') ?></a>
    </div>
</script>