<script type="text/ejs" id="columnHeaderCollapsedTpl">
    <div>
        <h3><div class="columnMenu jsColumnMenuButton popupOpener feed-post-menu-but"></div></h3>
        <hr/>
        <div class="columnTaskCounts"><%= (tasksMin != null) ? tasksMin : '0'  %><b><%= taskList.length %></b><%= (tasksMax != null) ? tasksMax : '&infin;' %></div>
    </div>
</script>