<script type='text/ejs' id='gridTaskResponsible'>
    <%
    if (responsible && responsible.length) {
        for (var ind=0; ind < 1; ind++) {
            %><%== $.View('peopleItem', {user: responsible[ind]})%><%
        }
    } else {
        %><div class="peopleItem noPeople popupOpener"><i></i></div><%
    } %>
</script>