<script type="text/ejs" id="tplSprintGridMenuPopup">
    <ul>
        <li><a href="javascript:void(0)" class="jsCollapseAll"><?= $this->t('COLLAPSE_GRID_ALL') ?></a></li>
        <li><a href="javascript:void(0)" class="jsUnCollapseAll"><?= $this->t('UNCOLLAPSE_GRID_ALL') ?></a></li>
    </ul>
</script>