<script type="text/ejs" id="tplSprintPanelMenuPopup">
    <ul>
        <li><a href="javascript:void(0)" class="jsShowFinished"><?= $this->t('SHOW_ARCHIVED') ?></a></li>
        <li><a href="javascript:void(0)" class="jsHideFinished"><?= $this->t('HIDE_ARCHIVED') ?></a></li>
    </ul>
</script>