<script type="text/ejs" id="tplSprintMenuPopup">
    <ul>
        <li><a href="javascript:void(0)" class="jsEdit"><?= $this->t('TO_EDIT') ?></a></li>
        <li><a href="javascript:void(0)" class="jsFromArchive"><?= $this->t('UN_ARCHIVATE') ?></a></li>
        <li><a href="javascript:void(0)" class="jsToArchive"><?= $this->t('ARCHIVATE') ?></a></li>
        <li><a href="javascript:void(0)" class="jsDelete"><?= $this->t('DELETE') ?></a></li>
    </ul>
</script>