<script type="text/ejs" id="leadsColumnHeaderTpl">
    <div>
        <h3>
            <div class="columnMenu jsColumnMenuButton popupOpener feed-post-menu-but"></div>
            <span class='jsLeadsColumnTitle' title='<%= name %>'><%= name %></span>
            <span class="miniblock subtasks jsLeadsCount"><b></b><%== leadList.length %></span>
        </h3>
    </div>
</script>
