<script type="text/ejs" id="leadsColumnHeaderCollapsedTpl">
    <div>
        <h3><div class="columnMenu jsColumnMenuButton popupOpener feed-post-menu-but"></div></h3>
        <hr/>
    </div>
</script>
