<script type="text/ejs" id="tplTaskSubtasksTitleEdit">
    <%= code ? code + "-" : "" %><%= id %>: <input class="edit" type='text' value='<%= title %>'>
    <div class="thin-green-button jsSaveTitle"><?= $this->t('OK') ?></div>
    <a class="cancelLink jsCancelTitle"><?= $this->t('CANCEL') ?></a>
</script>