<script type='text/ejs' id='taskDetailEditBlockFiles'>
    <div class="block files" id="jsTaskFileDropzone">
        <div class="header"><div class="inner">
            <i></i>
            <div class="upload">
                <form action="" method="post" enctype="multipart/form-data">
                    <input id="file_upload_task" name="file_upload" type="file" multiple="true">
                    <div class="clear"></div>
                    <div id="queue"></div>
                </form>
            </div>
            <h3><?= $this->t('ATTACHMENTS') ?><a href="javascript:void(0)" class="hide" data-hide-text="<?= $this->t('HIDE'); ?>"></a></h3>
        </div></div>
        <div class="content"></div>
    </div>
</script>
