<script type='text/ejs' id='TaskDetailsManualUpload'>
    <form action="<%= uploadUrl %>" method="post" enctype="multipart/form-data">
        <% if (this.taskId) { %>
            <input type="hidden" name="id" value="<%= taskId %>">
        <% } %>
        <input name="manual-upload-0" type="file" style="width:80px"><input name="manual-upload-2" type="file" style="width:80px">
        <div class="uploadify-button" style="margin-top:-23px;"><span class="uploadify-button-text"><?= $this->t('UPLOAD_FILES') ?></span></div>
        <div class="clear"></div>
        <div id="file_upload_<%= uploadifySuffix %>-queue" class="uploadify-queue adsa"></div>
        <div id="queue_<%= uploadifySuffix %>"></div>
    </form>
</script>
