<script type='text/ejs' id='confirmSprintPacketCreate'>
    <h2 class="header"><?= $this->t("PACKET_CREATE_TITLE"); ?></h2>
    <div class="inputs">
        <% if (sprintList.length > 0) { %>
            <select name="sprint">
                <option value="new" selected><?= $this->t('PACKET_CREATE_SPRINT_NEW'); ?></option>
                <% for (var i = 0; i < sprintList.length; i++) {
                    if (currentSprint != sprintList[i].sprintId) {
                        %><option value="<%= sprintList[i].sprintId %>"><%= sprintList[i].title %></option><%
                    }
                } %>
            </select>
        <% } else { %>
            <div class="create-new"><?= $this->t('PACKET_CREATE_SPRINT_NEW'); ?></div>
        <% } %>
    </div>
    <div class="newSprint"><input type="text" class="styled jsNewSprintTitle" placeholder="<?= $this->t('TITLE_NEW_SPRINT'); ?>" maxlength="100" value="<%= newSprintName %>"></div>
    <div class="clear"></div>
</script>
