<script type='text/ejs' id='sprintPanelEditSprint'>
    <div class="sprintStatus"></div>
    <div class="body">
        <div class="title"><input type="text" name="sprintTitle" placeholder="<?= $this->t('TITLE_NEW_SPRINT'); ?>"></div>
        <div class="timePicker standup sprint-property"><b><?= $this->t('STANDUP'); ?>: </b></div>
        <div class="datePicker start sprint-property"><b><?= $this->t('SPRINT_BEGIN'); ?>: </b></div>
        <div class="datePicker end sprint-property"><b><?= $this->t('SPRINT_END'); ?>: </b></div>
        <div class="datePicker deadline sprint-property"><b><?= $this->t('SPRINT_DEADLINE'); ?>: </b></div>
        <div class="buttons">
            <div class="thin-green-button jsEditOk"><?= $this->t('OK') ?></div>
            <a class="cancelLink jsEditCancel"><?= $this->t('CANCEL') ?></a>
        </div>
    </div>
</script>