<script type='text/ejs' id='sprintPanelViewSprint'>
    <div class="feed-post-menu-but menuIcon jsMenuIcon popupOpener taskMenu" style="<% if (status == 'saving' || status == 'unassigned') { %>display: none;<% } %>"></div>
    <div class="sprintStatus" title="<?= $this->t('DAYS_UNTIL_DEADLINE'); ?>"></div>
    <div class="body">
        <h4><%= $.htmlspecialchars(title) %></h4>
        <div class="icons"></div>
    </div>
</script>