<?/* Dropdown task menu */?>
<script type="text/ejs" id="tplTaskMenuPopup">
    <ul>
        <li><a href="javascript:void(0)" class="jsEdit"><?= $this->t('TO_EDIT') ?></a></li>
        <li><a href="javascript:void(0)" class="jsViewKp plain-link" target='_blank' data-slider-ignore-autobinding="true"><?= $this->t('VIEW_IN_KP') ?></a></li>
        <li><a href="javascript:void(0)" class="jsViewParent plain-link" target='_blank'><?= $this->t('VIEW_PARENT_TASK') ?></a></li>
        <li><a href="javascript:void(0)" class="jsFuckup"><?= $this->t('CALL_FOR_HELP') ?></a></li>
        <li><a href="javascript:void(0)" class="jsFuckupDone"><?= $this->t('PROBLEM_SOLVED') ?></a></li>
        <li><a href="javascript:void(0)" class="jsToBacklog"><?= $this->t('SEND_TO_BACKLOF') ?></a></li>
        <li><a href="javascript:void(0)" class="jsToArchive"><?= $this->t('SEND_TO_ARCHIVE') ?></a></li>
        <li><a href="javascript:void(0)" class="jsDelete"><?= $this->t('DELETE') ?></a></li>
        <li><a href="javascript:void(0)" class="jsCopyCheckList"><?= $this->t('COPY_CHECKLIST') ?></a></li>
        <li><a href="javascript:void(0)" class="jsPasteCheckList"><?= $this->t('PASTE_CHECKLIST') ?></a></li>
    </ul>
</script>
