<script type='text/ejs' id='selectCreateEventPopup'>
    <div class='jsSelectCreateEventPopup selectCreateEventPopup popup'>
        <p><b><?= $this->t('CHOOSE_TASK_CREATE_EVENT'); ?></b></p>
        <p><label><input type='radio' name='sendOnEnter' class='styled' value='click' checked><i></i><?= $this->t('CHOOSE_TASK_CREATE_EVENT_CLICK'); ?></label></p>
        <p><label><input type='radio' name='sendOnEnter' class='styled' value='dblclick'><i></i><?= $this->t('CHOOSE_TASK_CREATE_EVENT_DBLCLICK'); ?></label></p>
        <div class='clear'></div>
        <p><a href='#Ok' class='thin-green-button jsSaveCreateEvent'><?= $this->t('OK'); ?></a></p>
    </div>
</script>