<script type='text/ejs' id='sendOnEnterPopup'>
    <div class='jsSendOnEnterPopup sendOnEnterPopup popup'>
        <p><b><?= $this->t('CHOOSE_SEND_ON_ENTER'); ?></b></p>
        <p><label><input type='radio' name='sendOnEnter' class='styled' value='1'><i></i><?= $this->t('CHOOSE_SEND_ON_ENTER_SEND'); ?></label></p>
        <p><label><input type='radio' name='sendOnEnter' class='styled' value='0'><i></i><?= $this->t('CHOOSE_SEND_ON_ENTER_NEWLINE'); ?></label></p>
        <div class='clear'></div>
        <p><a href='#Ok' class='thin-green-button jsSaveSendType'><?= $this->t('OK'); ?></a></p>
    </div>
</script>