<script type='text/ejs' id='kanbanColumnDetailDodsAdd'>
    <label class="view checkitem" data-itemid="<%= dodId %>">
        <input type="text" class="styled" value="<%= description %>" maxlength="100">
        <b class="move"></b>
        <b class="delete"></b>
    </label>
</script>
