<script type='text/ejs' id='confirmTimeInputRequired'>
    <h2 class="header"><?= $this->t("TASK_DRAG_TIME_INPUT_REQUIRED"); ?></h2>
    <div class="inputs">
        <div class='dropActiveArea'></div>
        <input type="text" name="time"  class="styled" placeholder="<?= $this->t('TIME'); ?>" maxlength=10>
        <textarea name="comment" class="styled" placeholder="<?= $this->t('COMMENT'); ?>"></textarea>
    </div>
    <div class="clear"></div>
</script>