<script type='text/ejs' id='projectPanelDescriptionView'>
    <h2 class='title'><%= name %></h2>
    <% if (this.description && description.length) { %><div class='description'><%= description.replace(/\n/gm, '<br/>') %></div><% } %>
</script>
