<script type='text/ejs' id='projectPanelDescriptionEdit'>
    <div class='editor'><textarea></textarea></div>
    <div class="thin-green-button jsOk"><?= $this->t('OK'); ?></div>
    <a class="cancelLink jsCancel"><?= $this->t('CANCEL'); ?></a>
</script>