<script type='text/ejs' id='tplAlertBlockerController'>
    <div class="question blockerCanvas">
            <div class="body<% if (addHtmlPadding) { %> padded<% } %>"></div>
            <div class="buttons">
                <canvas></canvas>
            </div>
        </div>
</script>