<script type='text/ejs' id='iWantWatchTask'>
    <dd class='iWantWatchTask'>
        <label><input type="checkbox" <% if (checked) { %>checked="checked"<% } %>><span><?= $this->t('WATCH') ?></span></label>
    </dd>
</script>