<script type='text/ejs' id='taskDetailEditUserFields'>
    <div class="block user-fields jsUserFields">
        <div class="header"><div class="inner"><i></i><h3><?= $this->t('USER_FIELDS'); ?><a href="javascript:void(0)" class="hide" data-hide-text="<?= $this->t('HIDE'); ?>"></a></h3></div></div>
        <div class="content jsUserFieldsContent">
            <div class="loader" style="text-align: center;"></div>
            <iframe src="/bitrix/components/sibirix/task.user.fields/iframe.php?TASK_ID=<%= id %>" style="width: 100%; height: 0px;"></iframe>
        </div>
    </div>
</script>
