<script type="text/ejs" id="tplProjectInviteController">
    <div class="invisible"><input type="text"></div>
    <div class="question">
        <div class="body<% if (addHtmlPadding) { %> padded<% } %>"></div>
    </div>
</script>
