<script type='text/ejs' id='confirmNoColumnsOnBoardButtons'>
    <div class="thin-green-button jsOk"><?= $this->t('GO_TO_BOARD_SETTINGS'); ?></div>
    <a class="cancelLink jsCancel"><?= $this->t('CLOSE'); ?></a>
</script>