<script type='text/ejs' id='taskDetailEditBlockDods'>
    <div class="block checklist">
        <div class="header">
            <div class="inner">
                <i></i>
                <h3 title="<?= $this->t('CHECKLIST_TIP') ?>"><i class='hiddenCopyableText'><br></i><?= $this->t('CHECKLIST') ?><a href="javascript:void(0)" class="hide" data-hide-text="<?= $this->t('HIDE'); ?>"></a></h3>
            </div>
        </div>
        <div class="content jsChecklist"></div>
    </div>
</script>