<script type='text/ejs' id='taskCheckItemView'>
    <div class="checkitem <%= iItem.identity() %> <% if (iItem.status == 1) { %>item-checked<% } %>">
        <div class="edit"><input type="text" name="description" class="styled" maxlength="255">
            <div class="thin-green-button jsCheckItemSave"><?= $this->t('OK') ?></div>
            <a class="cancelLink jsCheckItemCancel"><?= $this->t('CANCEL') ?></a>
        </div>
        <div class="view">
            <% if (!!window.SCRUMBAN.checklistSort && this.canEdit) { %>
                <b class="move" title="<?= $this->t('CHECK_SORT'); ?>"></b>
            <% } %>
            <i class='hiddenCopyableText'><%= iItem.isCheckedTask(taskId) ? String._('CHECK_YES') : String._('CHECK_NOT') %> &mdash;</i>
            <label>
                <input type="checkbox" <% if (iItem.isCheckedTask(taskId)) { %>checked="checked"<% }%> <% if (!this.canCheck) { %>disabled="disabled"<% } %> data-itemId="<%= iItem.checklistItemId %>" >&nbsp;
            </label>
            <div class="desc-wrapper">
                <span><%= htmlspecialchars(iItem.description) %></span>
                <% if (this.canEdit) { %>
                    <div class="item-buttons">
                        <b class="edit" title="<?= $this->t('CHANGE') ?>"></b>
                        <b class="delete" title="<?= $this->t('DELETE') ?>"></b>
                        <b class="convert" title="<?= $this->t('CONVERTED_TO_TASK_ON_BOARD') ?>"></b>
                    </div>
                <% } %>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</script>
