<script type="text/ejs" id="stickerSaveBoard">
    <div class="sticker-title"><?= $this->t('STICKER_SAVE_BOARD_TITLE'); ?></div>
    <div class="sticker-desc"><?= $this->t('STICKER_SAVE_BOARD_DESC'); ?></div>
    <div class="sticker-button">
        <div class="thin-green-button button-save jsSaveBoard"><?= $this->t('STICKER_SAVE_BOARD_BUTTON'); ?></div>
    </div>
</script>