<script type="text/ejs" id="stickerSteelBoard">
    <div class="sticker-title"><?= $this->t('STICKER_STEEL_BOARD_TITLE'); ?></div>
    <div class="sticker-desc">
        <span class="steel-to bitrix jsSteelTo" title="<?= $this->t('STICKER_STEEL_BOARD_TO_BX_KP'); ?>" data-to="bx"></span>
        <?/*span class="steel-to megaplan jsSteelTo" title="<?= $this->t('STICKER_STEEL_BOARD_TO_MP'); ?>" data-to="mp"></span*/?>
    </div>
    <div class="sticker-buttons">
        <?/*div class="button thin button-steel jsSteelLater"><?= $this->t('STICKER_STEEL_BOARD_BUTTON'); ?></div*/?>
    </div>
</script>