<script type="text/ejs" id="tplTaskCheckItem">
    <label><input type="checkbox" class="styled" <% if (item.isCheckedTask()) { %>checked="checked"<% }%> data-itemId="<%= item.checklistItemId %>" ><i></i><span><%= htmlspecialchars(item.description) %></span></label>
</script>